* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: aquamarine;
}

.sign-in {
    background-color: #fff;
    padding: 2rem;
    width: 340px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sign-in h2 {
    margin-bottom: 1rem;
    color: #333;
    font: bold;
    font-size: 25px;
}

.sign-in label {
    float: left;
}

.sign-in input {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:hover, select:hover {
    outline: 2px solid rgb(71, 103, 163);
}

input:focus, select:focus {
    outline: 2px solid rgb(71, 103, 163);
}

.login-btn {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: blue;
    color: #fff;
    font: bold;
    cursor: pointer;
}

.login-btn:hover {
    background-color: darkblue;
}

.forgot-password {
    display: block;
    margin: 1.5rem 0 1rem;
    color: blue;
    text-decoration: none;
    text-align: left;
}

.forgot-password:hover {
    text-decoration: underline;
}

p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.img {
    width: 30px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.row {
    display: flex; 
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.btn-container {
    display: flex;
}

.row, .btn-container {
    flex: 1;
}

.fb-login-btn, .google-login-btn {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 4px;
    gap: 0.5rem;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
}

.fb-login-btn:hover {
    background-color: rgb(72, 72, 239);
    color: #fff;
}

.google-login-btn:hover {
    background-color: rgb(181, 181, 135);
    color: #fff;
}